<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbis.asset.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.dbis.asset.pojo.Category" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="cate_name" property="cateName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, cate_name
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from category
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from category
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from category
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dbis.asset.pojo.Category" >
    <selectKey resultType="java.lang.Integer" keyProperty="cid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category (cate_name)
    values (#{cateName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dbis.asset.pojo.Category" >
    <selectKey resultType="java.lang.Integer" keyProperty="cid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cateName != null" >
        cate_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cateName != null" >
        #{cateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dbis.asset.pojo.Category" >
    update category
    <set >
      <if test="cateName != null" >
        cate_name = #{cateName,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dbis.asset.pojo.Category" >
    update category
    set cate_name = #{cateName,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>